name: Wake Render Server

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render
        run: |
          curl -m 10 https://vincent-realtime-node.onrender.com/ping || true
